@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.gradient-button {
  padding: 12px 16px;
  background: linear-gradient(135deg, #f97316, #fb923c);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gradient-button:hover {
  background: linear-gradient(135deg, #fb923c, #f97316);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.gradient-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(249, 115, 22, 0.5);
}

.gradient-button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.gradient-button2 {
  padding: 12px 16px;
  background: linear-gradient(135deg, #f97316, #fb923c);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gradient-button2:hover {
  background: linear-gradient(135deg, #fb923c, #f97316);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.gradient-button2:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(249, 115, 22, 0.5);
}

.gradient-button2:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carrossel {
  width: 45vw;
  height: 30vw;
}

.pentagono {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.circulo {
  border: 14px solid #fe6103;
}

.arch-up {
  width: 300px;
  height: 600px;
  border: 14px solid #fe6103;
}

.card-mf {
  top: 70px;
}

.glass {
  background-color: #ffffff51;
  border: 1px solid #0000000c;
}

.borda::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fe6103;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.borda:hover::after {
  width: 100%;
}

.footer1 {
  position: relative;
  overflow: hidden;
}

.zoom {
  transition: transform 0.3s ease-out;
}

.footer1:hover .zoom {
  transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}
